@using TeknolojiAmbari.Mvc.WebUI.Models;
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Index";
}
<style>
    p,h1{
        color:aliceblue
    }
</style>
    

   
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4" >Teknoloki Ambarına Hoş Geldiniz !</h1>
            <p class="lead">Yüksek teknoloji, yenilik, maksiumum hız ve kapasite için doğru yerdesiniz.</p>
        </div>
    </div>



    <div class="container pb-5">
        @Html.Partial("_ProductList",Model)
    </div>



